/* SCROLL BEHAVIOR SMOOTH PARA QUE NAVEGACIÓN SEA SUAVE */

/* SCROLL PADDING TOP PARA CUANDO SE CLICKEA EN EL LINK TOME EN CUENTA LA ALTURA DEL NAVBAR Y NO NOS TAPE PARTE DE LA SECCIÓN */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
}

/*Para efecto de GLASSMORPHISMO cuando abrimos menú hamburguesa y carrito*/

.overlay{
    position: absolute;
    top: 12vh;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /* PARA QUE QUEDE POR ENCIMA DEL RESTO DE LAS COSAS*/
    /* EFECTO GLASSMORPHISMO */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: none;

}

/* OPEN-MENU */
.show-overlay {
    display: block;
}

/* #menu-toggle:checked ~ .overlay,
#cart-toggle:checked ~ .overlay{
    display: block;
} */


/* HOVER DE LOS ELEMENTOS "a" DEL NAVBAR */

.navbar__list li{
    position: relative;
    padding: 0;
}

.navbar__list li a::after{
    content: "";
    height: 2px;
    width: 100%;
    background: #cf1c67;
    position: absolute;
    bottom:0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar__list li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);

}

/* BOTONES DEL CARRITO */

.quantity-handler{
    transition: all .2s ease-in;
}

.quantity-handler:hover{
    cursor: pointer;
    background-color: #cf1c67;
    color:#fffffe;
    transition: all .2s ease-in;
}

.cart-btn{
    transition: all .5s ease-in-out;
}

.cart-btn:hover{
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    transition: all .5s ease-in-out;
}

.btn-delete{
    transition: all .5s ease-in-out;
}

.btn-delete:hover{
    color:rgb(255, 255, 255);
    transition: all .5s ease-in-out;
}

/* ANIMACIONES */

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-up{
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes slide-right{
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0px);
    }
}

.section__hero-info h1{
    /* animación - duración - animation-function */
    animation: fade 0.8s ease-in, slide-up 1.3s ease-in-out;
}

.section__hero-info p{
    opacity: 0;
    /* animación - duración - animation-function */
    animation: fade 0.8s ease-in forwards, slide-up .9s ease-in-out;
    animation-delay: .3s;
}

.hero__img{
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
    animation-delay: 0.2s;
}

/* BOTONES SECTION MENU */

.btn__add{
    display: inline-block;
    position: relative;
    transition: all 0.3s ease; 
    z-index: 1;    
}

.btn__add:before{
    content: "";
    position: absolute;
    top: 0;
    left:50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    border-radius:8px;
    background-color: #d16792;
    z-index: -1;
    transition: 0.5s all ease;
}

.btn__add:hover, .btn__add:focus{
    color: #f2f2f2;
}

.btn__add:hover:before, .btn__add:focus:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.btn__add:active{
    transform: scale(0.9);
}


/* BOTON FORMULARIO */

.form__button{
    transition: .3s;
}

.form__button:hover{
    background-color: #3b82f6;
    color:#fffffe;
    box-shadow: 0 0 0 5px #3b83f65f;
}


