/* TABLET */

@media (max-width: 992px){

    .logo{
        height:8vh;
    }

    .navbar{
        gap: 10px;
    }

    .cart-label{
        height: 35px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar__list{
        position: absolute;
        top: 12vh;
        left: 65%;
        width: 45%;
        flex-direction: column;
        background-color: #ead1b9;
        border: 2px solid lightcoral;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start; 
        z-index: 2; 
        display: none;   
    }

    .navbar-list a{
        font-size: 18px;
    }

    /* MOSTRAR ICONO MENU */

    .menu-label{
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-img{
        height: 8vh;
        width: 8vw;
    }

    #menu-toggle:checked + 
    .navbar__list{
        display: flex;
    }

    .menu-icon,
    .cart-icon{
        font-size: 1.25rem;
        padding: 1vw;
    }

    .hero__img{
        display: none;
    }

    .section__hero-info {
        width: 85vw;
    }

    .section__hero-info h1{
        font-size: 2rem;
    }

    .producto {
        height: 60vh;
        width: 25vw;
    }

    .producto img {
        width: fit-content;
        height: 30vh;
    }

    .producto p{
        font-size: 1.2rem;
    }

    .btn__add{
        height:2rem;
    }

    #section__location{
        padding: 5vw;
        gap:2px;
    }

    .card,
    .card img {
        height: 30vh;
        width: 40vw;
    }

    iframe{
        height: 40vh;
        width: 50vw;
    }

    .img-form{
        height: 40vh;
    }

    .campo__item, .mensaje {
        width: 40vw;
    }
    
    .form__button {
        width: 10vw;
        height: 7vh;
        font-size: 1rem;
    }

    .footer__medios-pago-img{
        height: 25vh;
    }

}


/* MOBILE */

@media (max-width: 568px){

    .logo{
        height:10vh;
    }
    
    #header img{
        height:100%;
    } 

    .menu-icon{
        font-size: 1.5rem;
        margin-right: 8vw;
    }

    .cart-icon{
        font-size: 1.5rem;
    }

    .cart-label{
        height: 35px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar__list{
        top: 12vh;
        left: 30%;
        width: 69%;
        justify-content: center;
        align-items: center;
    }

    .section__hero-info {
        width: 100vw;
    }

    .section__hero-info h1 {
        font-size: 42px;
        width: 100%;
        padding: 10px;
    }

    .section__hero-info p{
        width: 100%;
        line-height: 30px;
        padding: 10px;
    }

    #section__nosotros p{
        text-align: center;
        line-height: 30px;
        padding: 10px;

    }

    .producto{
        height: fit-content;
        width: 80vw;
        padding: 1vw;
    }

    .producto h3{
        font-size: 1.5rem;
    }

    .producto img {
        width: fit-content;
        height: 40vh;
    }

    .btn__add{
        width: 25vw;
        height:6vh;
        margin-bottom: 3vh;
        text-align: center;
    }

    #section__adopciones p{
        line-height: 30px;
        padding: 10px;
    }

    .card, .card img {
        height: 30vh;
        width: 80vw;
    }

    iframe{
        width: 80vw;
    }

    .contenedor__form img{
        display: none;
    }

    .form {
        width:50vw;
    }

    .campo__item, 
    .mensaje {
        width: 70vw;
    }

    .form__button {
        width: 20vw;
    }

    .campo__text, .mensaje {
        margin: 0.5vw;
        padding: 3vw;
        font-size: .75rem;
    }

    .footer__items {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer__medios-pago-img {
        height: 20vh;
        width: fit-content;
    }


    /* BUTTON UP */

    .top {
        width: 9vw;
        height: 9vw;
    }

    /* MODIFICAR CARRITO PARA CELULAR */

    .cart{
        left:0;
        width:100%;
        border: none;
    }

    /* .cart-item{
        flex-wrap: wrap;
    } */

    .cart-total p,
    .cart-total span{
        font-size: 18px;
    }




}


