/* TABLET */

@media (max-width: 992px) {

    /* .logo {
        height: 8vh;
    } */

    .navbar {
        gap: 10px;
    }

    .cart-label {
        height: 35px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar__list {
        position: absolute;
        top: 12vh;
        left: 65%;
        width: 45%;
        flex-direction: column;
        background-color: #ead1b9;
        border: 2px solid lightcoral;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
    }

    /* MOSTRAR ICONO MENU */

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-img {
        height: 8vh;
        width: 8vw;
    }

    /* OPEN-MENU */

    .open-menu {
        display: flex;
    }
/*
    #menu-toggle:checked+.navbar__list {
        display: flex;
    }
*/
    .menu-icon,
    .cart-icon {
        font-size: 2rem;
        padding: 1vw;
    }

    .item-info{
        width: 15vw;
    }

    .cart-bubble{
        top: 0px;
        right: 0px;

    }

    /* SECTION HERO */

    .hero__img {
        display: none;
    }

    .section__hero-info {
        width: 85vw;
    }

    .section__hero-info h1 {
        font-size: 2rem;
    }

    /* SECTION MENU */

    .productos-container {
        /* width: 100%; */
        gap: .75rem;
    }

    .producto {
        height: fit-content;
        width: 100%;
        padding: 1vw;
        margin: 2vw;
    }

    .producto p {
        font-size: 1.2rem;
    }

    .card-price-and-button {
        padding: .5rem .4rem 0 .4rem        
    }

    .btn-add {
        padding: 0rem .4rem;
    }

    /* SECTION ADOPCIONES */

    .card,
    .card img {
        width: 40vw; 
    }

    /* SECTION LOCATION */

    #section__location {
        padding: 5vw;
        gap: 2px;
    }   

    iframe {
        height: 40vh;
        width: 50vw;
    }

    /* SECTION FORMULARIO */

    .img-form {
        height: 40vh;
    }

    .campo__item,
    .mensaje {
        width: 40vw;
    }

    .form__button {
        width: 10vw;
        font-size: 1rem;
    }

    /* SECTION MEDIOS DE PAGO Y REDES SOCIALES */
    .footer__redes-sociales h3,
    .footer__contenedor_medios-de-pago h3 {
    font-size: 1rem;


    /* BUBBLE UP */
    .top{
        font-size: 1em;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

}

/* ----------------------- MOBILE ----------------------- */

@media (max-width: 568px) {

    /* HEADER */

    .logo {
        height: 10vh;
    }

    #header img {
        height: 10vh;
    }

    .menu-icon {
        font-size: 1.5rem;
        margin-right: 8vw;
    }

    .cart-icon {
        font-size: 1.5rem;
    }

    .cart-bubble{
        top: -5px;
        right: -5px;

    }

    .cart-label {
        height: 35px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .navbar__list {
        top: 12vh;
        left: 30%;
        width: 69%;
        justify-content: center;
        align-items: center;
    }

    /* SECTION HERO */

    .section__hero-info {
        width: 100vw;
    }

    .section__hero-info h1 {
        font-size: 42px;
        width: 100%;
        padding: 10px;
    }

    .section__hero-info p {
        width: 100%;
        line-height: 30px;
        padding: 10px;
    }

    #section__nosotros p {
        text-align: center;
        line-height: 30px;
        padding: 10px;

    }

    /* SECTION MENU */

    .productos-container {
        gap:3px;
    }

    .producto {
        height: fit-content;
        width: 100%;
        padding: 1vw;
    }

    .producto h3 {
        font-size: 1.5rem;
    }

    /* CATEGORIAS */

    .categories {
        gap: 5px;
    }

    /* SECTION ADOPCIONES */

    #section__adopciones p {
        line-height: 30px;
        padding: 10px;
    }

    .card,
    .card img {
        height: 30vh;
        width: 70vw;
    }

    /* SECTION LOCATION */

    .info-item h4,
    .info-item p {
        font-size: .9rem;
    }

    iframe {
        display: none;
    }
    
    /* SECTION FORMULARIO */
    
    .contenedor__form img {
        display: none;
    }

    .form {
        width: 50vw;
    }

    .campo__item,
    .mensaje {
        width: 70vw;
    }

    .form__button {
        width: 20vw;
        height: fit-content;
    }

    .campo__text,
    .mensaje {
        margin: 0.5vw;
        padding: 3vw;
        font-size: .75rem;
    }

    /* SECTION FOOTER */

    .footer__items {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer__medios-pago-img {
        max-width: 100%;
        width: 6vh;
    }


    /* BUTTON UP */

    .top {
        font-size: 0.8em;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    /* MODIFICAR CARRITO PARA CELULAR */

    .cart {
        max-width: 93%;
        border: none;
    }

    .cart-total p,
    .cart-total span {
        font-size: 18px;
    }

    .cart-item{
        gap: 8px;
    }

    .item-info{
        width: 35vw;
    }

    .item-title {
        font-size: 14px;
    }
}


}